<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Page Title</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <header class="header">
    <h1 class="header__title">Hello<br>world!</h1>
  </header>
  <article class="article article_whitebg article_first">
    <h2 class="black">This is my first<br>page!</h2>
    <p class="black">I learned to write <strong>HTML</strong>, and how a have connected my first style file and everything has become beautiful :)</p>
  </article>
  <article class="article article_bluebg article_second">
    <h2 class="white">Contact with me!</h2>
    <p class="white">You will want me to make the same beauty for you anyway. That is why created a feedback form! Write, do not be shy :)</p>
    <form class="form">
      <input type="email" class="form_input" placeholder="E-mail">
      <input type="text" class="form_input" placeholder="Name">
      <textarea class="form_textarea" placeholder="Your message"></textarea>
      <button class="form_button" type="button">To send</button>
    </form>
    <p class="white">All for George Litvinov</p>
  </article>
</body>
</html>
